<table class="listingProject table-striped m-auto text-center">
    <thead class="thead">
    <tr>
        <th>Name</th>
        <th>BuildingNumber</th>
        <th>Stair</th>
        <th>Tantiemes</th>
        <th>TantiemesHeating</th>
        <th>actions</th>
    </tr>
    </thead>
    <tbody>
    {% for building in buildings %}
        <tr class="border">
            <td>{{ building.name }}</td>
            <td>{{ building.buildingNumber }}</td>
            <td>{{ building.stair }}</td>
            <td>{{ building.tantiemes }}</td>
            <td>{{ building.tantiemesHeating }}</td>
            <td>
                <a class="btn btn-outline-info" href="{{ path('building_show', {'referenceId':reference.id, 'id':building.id}) }}">Consulter</a>
                <a class="btn btn-outline-primary" href="{{ path('building_edit', {'referenceId':reference.id, 'id':building.id}) }}">Modifier</a>
            </td>
        </tr>
    {% else %}
        <tr>
            <td colspan="10">Pas d'entrées trouvées</td>
        </tr>
    {% endfor %}
    </tbody>
</table>