{% set building = entity %}
    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ building.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ building.name }}</td>
            </tr>
            <tr>
                <th>BuildingNumber</th>
                <td>{{ building.buildingNumber }}</td>
            </tr>
            <tr>
                <th>Stair</th>
                <td>{{ building.stair }}</td>
            </tr>
            <tr>
                <th>Tantiemes</th>
                <td>{{ building.tantiemes }}</td>
            </tr>
            <tr>
                <th>TantiemesGarageBox</th>
                <td>{{ building.tantiemesGarageBox }}</td>
            </tr>
            <tr>
                <th>{{ 'building.tantiemesShop'|trans }}</th>
                <td>{{ building.tantiemesShop }}</td>
            </tr>
            <tr>
                <th>Others</th>
                <td>{{ building.others }}</td>
            </tr>
            <tr>
                <th>TantiemesHeating</th>
                <td>{{ building.tantiemesHeating }}</td>
            </tr>
        </tbody>
    </table>
