{% extends 'base.html.twig' %}

{% block title %}Nouveau Scénario{% endblock %}

{% block body %}
  <h2 class="text-center">Ajouter un nouveau scenario</h2>

  {{ form_start(form) }}

    {{ form_row(form.name) }}

    <ul id="work-has-scenario" data-prototype="{{ form_widget(form.workHasScenarios.vars.prototype)|e('html_attr') }}">
    </ul>
  {{ form_end(form) }}

  <a class="btn btn-outline-success" href="#">Valider</a>

{% endblock %}
{% block javascripts %}
<script type="text/javascript">
  let collectionHolder;
  let addWorkButton = $('<button type="button" class="btn btn-success font-weight-bold">Ajouter un travaux</button>');
  let newLinkLi = $('<div class="add_work"></div>').append(addWorkButton);

  jQuery(document).ready(function () {
    collectionHolder = $('#work-has-scenario');
    collectionHolder.append(newLinkLi);
    collectionHolder.data('index', collectionHolder.find(':input').length);

    addWorkButton.click(function (e) {
      addWorkForm(collectionHolder, newLinkLi);
    });

    collectionHolder.find('.panel').each(function () {
      addRemoveButton($(this));
    });

  });

  function addWorkForm(collectionHolder, newLinkLi) {
    let prototype = collectionHolder.data('prototype');
    let index = collectionHolder.data('index');
    let newForm = prototype;
    newForm = newForm.replace(/__name__/g, index);
    collectionHolder.data('index', index + 1);

    let panel = $('<li class="panel"></li>').append(newForm);
    addRemoveButton(panel);
    newLinkLi.before(panel);
  }

  function addRemoveButton(panel) {
    let removeButton = $('<button type="button" class="btn btn-danger font-weight-bold">Supprimer</button>');
    let container = $('<div class=remove-work></div>')
    container.append(removeButton);
    removeButton.click(function (e) {
      $(e.target).parents('.panel').slideUp(1000, function () {
        $(this).remove();
      });
    });

    panel.append(container);
  }
</script>

{% endblock %}
