<table class="listingProject table-striped m-auto text-center">
    <thead class="thead">
    <tr>
        <th>{{ 'owner.id'|trans }}</th>
        <th>{{ 'owner.addressName'|trans }}</th>
        <th>{{ 'owner.address1'|trans }}</th>
        <th>{{ 'owner.address2'|trans }}</th>
        <th>{{ 'owner.postalCode'|trans }}</th>
        <th>{{ 'owner.city'|trans }}</th>
        <th>{{ 'owner.country'|trans }}</th>
        <th>{{ 'owner.account'|trans }}</th>
        <th>{{ 'owner.password'|trans }}</th>
    </tr>
    </thead>
    <tbody>
    {% for result in results %}
        {% set owner = result.owner %}
        <tr>
            <td>{{ owner.id }}</td>
            <td>{{ owner.addressName }}</td>
            <td>{{ owner.address1 }}</td>
            <td>{{ owner.address2 }}</td>
            <td>{{ owner.postalCode }}</td>
            <td>{{ owner.city }}</td>
            <td>{{ owner.country }}</td>
            <td>{{ result.account }}</td>
            <td>
                {{ result.password }}
            </td>
        </tr>
    {% else %}
        <tr>
            <td colspan="3">Pas d'entrées trouvées</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
