{% extends 'base.html.twig' %}
{% set reference = coOwnership %}
{% set origin = 'coOwnership' %}

{% block title %}{{ coOwnership.residenceName }}{% endblock %}

{% block body %}
    <h1>Résultat pour la simulation {{ owner }}</h1>

    {{ result }}
{% endblock %}