{% extends 'base.html.twig' %}

{% block title %}Compte {{ app.user.username }}{% endblock %}

{% block body %}

{% if not archived %}
  <h2 class="text-center">Les Projets<img src="/images/projet.png" class="icone ml-5" alt="icone"/></h2>
    <!-- <img src="/images/top.png"/>
    <img src="/images/icone-projet.png" alt="icone"/> -->
  <div class="container mb-4">
    <div class="row">
      <a class="btn btn-outline-success col" href="{{ path('coOwnership_add') }}">Ajouter un projet<img src="/images/projet.png" class="icone ml-5" alt="icone"/></a>
      <form class="form-inline my-2 my-lg-0 col">
        <input id="search" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Recherche</button>
      </form>
    </div>
  </div>

{% else %}

  <h2 class="text-center">Les Archives<img src="/images/archive2.png" class="icone ml-3" alt="icone"></h2>
  <div class="container mb-4">
      <div class="row">
          <a class="btn btn-outline-primary buttonTop" href="{{ path('coOwnerships_index') }}">◄ Revenir à la liste des projets</a>
          <form class="form-inline my-2 my-lg-0 col">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Recherche</button>
        </form>
      </div>
    </div>
{% endif %}

<div class="table-responsive">
  <table id="table" class="listingProject table-striped m-auto">
    <thead class="thead">
      <tr class="border">
        <th class="text-center">{{ 'coOwnership.businessNumber'|trans }}</th>
        <th class="text-center">Nom Copropriété</th>
        <th class="text-center">Bâtiments</th>
        <th class="text-center">Lots</th>
        <th class="text-center">Propriétaires</th>
        <th class="text-center">Actions</th>
      </tr>
    </thead>

    <tbody>
      {% for project in projects %}
        <tr class="border infos">
          <td class="text-center">{{ project.businessNumber }}</td>
          <td class="text-center">{{ project.residenceName }}</td>
          <td class="text-center">{{ project.buildings|length }}</td>
          <td class="text-center">{{ project.lots }}</td>
          <td class="text-center">{{ project.ownersCount }}</td>
          <td class="text-center">
            <a class="btn btn-outline-info" href="{{ path('coOwnership_view', {'id':project.id}) }}">Consulter</a>
            {% if project.archived %}
              <a class="btn btn-outline-success" href="{{ path('coOwnership_archive_reset', {'id':project.id}) }}">Désarchiver</a>

              <form method="post" action="{{ path('coOwnership_delete', {'id': project.id}) }}" style="display:inline-block" onsubmit="return confirm('Etes-vous sûr?')">
                <input type="hidden" name="_method" value="DELETE">
                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ project.id) }}">
                <button class="btn btn-danger">Supprimer</button>
              </form>
            {% else %}
              <a class="btn btn-outline-success" href="{{ path('coOwnership_archive_add', {'id':project.id}) }}">Archiver</a>
              <a class="btn btn-outline-dark" href="{{ path('coOwnership_import', {'id':project.id, 'type':'owner'}) }}">Import propriétaires</a>
            {% endif %}
          </td>
        </tr>
      {% else %}
        <tr>
          <td class="text-center" colspan="6">Aucune données actuellement !</td>
        </tr>
      {% endfor %}
    <tbody>
  </table>
</div>
<div class="container">
  <div class="row">
    <div class="naviguation">
      {{ knp_pagination_render(projects) }}
    </div>
  </div>
</div>

{% endblock %}

{% block javascripts %}
  <script type="text/javascript">
    $(document).ready(function(){
      $("#search").on("keyup", function() {
        var value = $(this).val().toLowerCase();
        $("#table tr.infos").filter(function() {
          $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
      });
    });
  </script>

{% endblock %}
