{% extends 'base.html.twig' %}

{% block title %}Nouveau Projet{% endblock %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}


{% block body %}
  <h2 class="text-center">Créer un nouveau projet</h2>

  {{ form(form) }}

{% endblock %}
