{% extends 'base.html.twig' %}
{% set reference = coOwnership %}
{% set origin = 'coOwnership' %}

{% block title %}{{ coOwnership.residenceName }}{% endblock %}

{% block body %}

    <h1 class="text-center font-weight-bold ">{{ coOwnership.residenceName }}</h1>

    <div class="container">
        <div class="row">
            <div class="col-5 m-auto">
                <div class="m-2"><a class="btn btn-outline-info btn-block" href="{{ path('coOwnerships_index') }}">◄ Revenir à la liste des projets</a></div>
                {{ include('coOwnership/show.html.twig') }}
            </div>

            <div class="col-5 m-auto">
                <div class="m-2"><a class="btn btn-outline-success btn-block" href="{{ path('coOwnership_import', {'id': coOwnership.id, 'type': 'owner'}) }}">Import propriétaires</a></div>
                <div class="m-2"><a class="btn btn-outline-success btn-block" href="{{ path('coOwnership_import', {'id': coOwnership.id, 'type': 'work'}) }}">Import travaux</a></div>
                <div class="m-2"><a class="btn btn-outline-success btn-block" href="{{ path('coOwnership_import', {'id': coOwnership.id, 'type': 'scenario'}) }}">Import scénario</a></div>
                <div class="m-2"><a class="btn btn-outline-success btn-block" href="{{ path('coOwnership_edit', {'id': coOwnership.id}) }}">Modifier</a></div>
                {% if coOwnership.archived %}
                    <div class="m-2"><a class="btn btn-outline-success btn-block" href="{{ path('coOwnership_archive_reset', {'id': coOwnership.id}) }}">Désarchiver</a></div>
                    <form class="m-2" method="post" action="{{ path('coOwnership_delete', {'id': coOwnership.id}) }}" onsubmit="return confirm('Etes-vous sûr?')">
                        <input type="hidden" name="_method" value="DELETE">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ coOwnership.id) }}">
                        <button class="btn btn-outline-danger btn-block">Supprimer</button>
                    </form>
                {% else %}
                    {% if is_granted('ROLE_ADMIN') %}
                    {% if coOwnership.blockAccounts %}
                        <div class="m-2"><a class="btn btn-outline-dark btn-block" href="{{ path('coOwnership_unblock', {'id':coOwnership.id}) }}">Débloquer les comptes</a></div>
                    {% else %}
                        <div class="m-2"><a class="btn btn-outline-success btn-block" href="{{ path('generate_users', {'id':coOwnership.id}) }}">Générer comptes</a></div>
                        <div class="m-2"><a class="btn btn-outline-dark btn-block" href="{{ path('coOwnership_block', {'id':coOwnership.id}) }}">Bloquer les comptes</a></div>
                    {% endif %}
                    {% endif %}
                    <div class="m-2"><a class="btn btn-outline-success btn-block" href="{{ path('coOwnership_archive_add', {'id': coOwnership.id})}}">Archiver</a></div>
                {% endif %}
            </div>
        </div>
    </div>

            <hr>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                {% set buildings = coOwnership.buildings %}
                {% set grants = coOwnership.grants %}
                {% set uploadedFiles = coOwnership.attachedFiles %}
            <nav class="nav nav-tabs common-tabs">
                <a class="nav-item nav-link active" data-toggle="tab" href="#owners">Propriétaires <span class="badge badge-info">{{ owners.getTotalItemCount }}</span></a>
                <a class="nav-item nav-link" data-toggle="tab" href="#lots">Lots <span class="badge badge-info">{{ lots | length }}</span></a>
                <a class="nav-item nav-link" data-toggle="tab" href="#buildings">Bâtiments <span class="badge badge-info">{{ buildings | length }}</span></a>
                <a class="nav-item nav-link" data-toggle="tab" href="#works">Travaux <span class="badge badge-info">{{ works | length }}</span></a>
                <a class="nav-item nav-link" data-toggle="tab" href="#scenarios">Scénarios <span class="badge badge-info">{{ scenarios | length }}</span></a>
                <a class="nav-item nav-link" data-toggle="tab" href="#grants">Subventions <span class="badge badge-info">{{ grants | length }}</span></a>
                <a class="nav-item nav-link" data-toggle="tab" href="#uploadedFiles">Documents <span class="badge badge-info">{{ uploadedFiles | length }}</span></a>
            </nav>
            </div>
            <div class="col-sm-12">
             <div class="tab-content">
                <div id="buildings" class="tab-pane fade">
                    {% set object = 'building' %}
                    {% set pagination = null %}
                    {{ include('object/tab.html.twig') }}
                </div>

                <div id="lots" class="tab-pane fade">
                    {% set object = 'lot' %}
                    {% set pagination = null %}
                    {{ include('object/tab.html.twig') }}
                </div>

                <div id="owners" class="tab-pane fade show active">
                    {% set object = 'owner' %}
                    {% set pagination = owners %}
                    {{ include('object/tab.html.twig') }}
                </div>
                 <div id="works" class="tab-pane fade">
                     {% set object = 'work' %}
                     {% set pagination = null %}
                     {{ include('object/tab.html.twig') }}
                 </div>
                 <div id="scenarios" class="tab-pane fade">
                     {% set object = 'scenario' %}
                     {% set pagination = null %}
                     {{ include('object/tab.html.twig') }}
                 </div>
                 <div id="grants" class="tab-pane fade">
                     {% set object = 'grant' %}
                     {% set pagination = null %}
                     {{ include('object/tab.html.twig') }}
                 </div>
                 <div id="uploadedFiles" class="tab-pane fade">
                     {% set object = 'uploadedFile' %}
                     {% set pagination = null %}
                     {{ include('object/tab.html.twig') }}
                 </div>
            </div>
            </div>
        </div>
    </div>
{% endblock %}
