{% set workHasBuilding = entity %}

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ workHasBuilding.id }}</td>
            </tr>
            <tr>
                <th>{{ 'work.nameUp' | trans }}</th>
                <td>{{ workHasBuilding.work }}</td>
            </tr>
            <tr>
                <th>{{ 'building.nameUp' | trans }}</th>
                <td>{{ workHasBuilding.building }}</td>
            </tr>
        </tbody>
    </table>
