<div class="panel panel-project">

    <div class="panel-heading">
        <h2 class="panel-title text-center">
            {% block panel_title %}
            {% endblock %}
        </h2>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6">
            {% block panel_buttons %}
            {% endblock %}
            </div>
            <div class="col-sm-12 col-md-6">
                {% block panel_actions %}
                {% endblock %}
            </div>
        </div>
    </div>
    <div><br></div>
    <div class="panel-body">
        {% block panel_body %}
        {% endblock %}
    </div>
</div>