{% extends 'base.html.twig' %}
{% set objectTitle = object~".name" %}
{% set objectName = object~".name" %}
{% set objectNameUp = object~".nameUp" %}

{% block title %}Modifier le {{ objectName|trans }} {{ entity }}{% endblock %}

{% block body %}
    <h2 class="text-center"><img src="/images/{{object}}.png" class="icone ml-2 mb-2" alt="icone de {{ objectName | trans }}"/>{{ objectNameUp |trans }}</h2>

    {{ include('object/form.html.twig', {'button_label': 'Enregistrer'}) }}
{% endblock %}
