{% extends 'base.html.twig' %}

{% block title %}{{ (object~'.import')|trans }}{% endblock %}

{% block body %}
<h2 class="text-center">{{ (object~'.import')|trans }}</h2>
  <div>
    {{ form_start(form) }}
      {{ form_widget(form) }}
    {{ form_end(form) }}
  </div>


  <div class="d-{{ status }}">
      {% if header|default(null) %}
    <div class="table-responsive">
      <table class="listingImport table-striped  m-auto">
        <thead class="thead">
          <tr class="border">
            <th class="text-center indiceImport"> </th>
            {% for elt in header %}
            <th class="text-center">{{ (object~'.'~elt[:1]|lower ~ elt[1:])|trans }}</th>
            {% endfor %}
          </tr>
        </thead>

        <tbody>
          {% for data in datas %}
            <tr class="border">
              {% set lineNb = loop.index %}
              <td class="text-center listingImportOne" id="index-{{ lineNb }}">{{ loop.index }}</td>
              {% for elt in data %}
              <td class="text-center listingImportTwo">{{ elt }}</td>
              {% endfor %}
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
{% endif %}
    {% if errors is not empty %}
      <div class="panel-group">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <button class="btn btn-outline-danger buttonBottom" data-toggle="collapse" data-target="#collapse-errors" role="button">Erreurs {{ errors|length }}</button>
            </h4>
          </div>
          <div class="panel-collapse collapse" id="collapse-errors">
            <ul class="list-group">
              {% for error in errors %}
                <li class="list-group-item">{{ error }}</li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    {% else %}
      <a class="btn btn-outline-success buttonBottom" href="{{ path('coOwnership_view', {'id':coOwnership.id}) }}">Valider</a>
    {% endif %}
  </div>

{% endblock %}


{% block javascripts %}

  <script>

   /*let inputFile = document.getElementById('upload_file');
   inputFile.addEventListener('')*/

    $(document).on('change', '.custom-file-input', function () {
      let fileName = $(this).val().replace(/\\/g, '/').replace(/.*\//, '');
      $(this).parent('.custom-file').find('.custom-file-label').text(fileName);
    });


  </script>

{% endblock %}
