{% extends 'base.html.twig' %}

{% set objectTitle = object~".name" %}
{% set objectName = object~".name" %}
{% set objectBacks = object~".backs" %}
{% set objectNameUp = object~".nameUp" %}
{% set objectList = object~".list" %}

{% block title %}{{ entity }}{% endblock %}

{% block body %}

    {{ include('object/panel/view.html.twig') }}

    {% if object == 'work' %}
        {% set work = entity %}
        {{ include(origin~'/'~object~'/sub_panel.html.twig') }}
        {% elseif object == 'work' %}
    {% endif %}
{% endblock %}
