{% extends 'base.html.twig' %}

{% block title %}
    Accès refusé
{% endblock %}


{% block body %}
    <div style="float:left; width:90%; padding-left:60px">
        <br><br>
        <h2>Vous ne disposez pas des permissions nécessaires pour effectuer cette action.</h2>
    </div>
{% endblock body %}