{% extends 'panel.html.twig' %}

{% block panel_title %}
                <img src="/images/{{object}}.png" class="icone ml-2 mb-2" alt="icone de {{ objectName | trans }}"/> {{ objectList|trans }}
    {% if reference|default(null) %}
    de {{ reference }}
    {% endif %}

{% endblock %}

{% block panel_buttons %}
    {% if reference|default(null) %}
                <a class="btn btn-outline-info sm-3" href="{{ path('coOwnership_view', {'id':reference.id}) }}">◄ Revenir au projet</a>
    {% endif %}
{% endblock %}

{% block panel_actions %}
    {% if no_add|default(null) %}
    {% else %}
        {% if reference|default(null) %}
            <a class="btn btn-outline-success  btn-block btn-action" href="{{ path(object~'_new', {'referenceId':reference.id}) }}">{{ objectAdd|trans }}</a>
        {% else %}
            <a class="btn btn-outline-success  btn-block btn-action" href="{{ path(object~'_new')}}">{{ objectAdd|trans }}</a>
        {% endif %}
    {% endif %}
    {% if object == 'uploadedFile' %}
        {% for uploadedFile in uploadedFiles %}
            {% if uploadedFile.category|default(null) %}
            {% if uploadedFile.category.setting == constant('App\\Entity\\Document\\DocumentCategory::DOC_TYPE_TEMPLATE') %}

                <a class="btn btn-outline-success btn-block btn-action"
               href="{{ path('document_generate', {'file_id':uploadedFile.id, 'referenceId':reference.id}) }}"
            >Générer {{ uploadedFile }}</a>
                <a class="btn btn-outline-success btn-block btn-action"
                   href="{{ path('document_generate_pdf', {'file_id':uploadedFile.id, 'referenceId':reference.id}) }}"
                >Générer PDF {{ uploadedFile }}</a>
                {% endif %}
                {% endif %}
        {% endfor %}
        <a class="btn btn-outline-success btn-block btn-action"
           href="{{ path('zip_all', {'referenceId':reference.id}) }}"
        >Télécharger tous les fichiers</a>
    {% endif %}
{% endblock %}

{% block panel_body %}
            <div class="table-responsive">
                {% if reference|default(null) %}
                    {{ include(origin~'/' ~ object ~ '/list.html.twig') }}
                {% else %}
                    {{ include(object ~ '/list.html.twig') }}
                {% endif %}
            </div>
    {% if pagination|default(null) %}
    <div class="text-xs-center">{{ knp_pagination_render(pagination) }}</div>
    {% endif %}
{% endblock %}
